<div class="card">
    <div class="card-header bg-dark text-white text-center" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">User Profile</div>
    <img class="card-img-top profile-image" src = "../../assets/userprofile.jpg" alt = "Card Image">
    <div class="card-body card-style">
        <p class="card-text">Name: {{userData.userName}}</p>
        <p class="card-text">Email Id: {{userData.emailId}}</p>
        <p class="card-text">Contact Number: {{userData.contactNo}}</p>
        <p class="card-text">Height: {{userData.height}}</p>
        <p class="card-text">Weight: {{userData.weight}}</p>
        <p class="card-text">Qualification: {{userData.education}}</p>
        <p class="card-text">Address: {{userData.address}}</p>
    </div>
</div>