<table class="table table-bordered">
    <thead>
        <tr>
            <th>Action</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Discount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i=index;">
            <td>
                <button class="btn btn-primary" (click)="deleteRow(i)">Delete</button>
            </td>
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.productPrice}}</td>
            <td>
                <input type="number" [value]="product.productQuantity" [(ngModel)]="product.productQuantity" (ngModelChange)="calculateTotalPrice()"/>
                <span class="errorMessage">{{ product.validationMessage }}</span>
            </td>
        </tr>
    </tbody>
</table>